Repository dymensionxyz/dymension, pull requests merged in 2022-12, with the labels that each got.

#122 Liorzilp/104 irc client callbacks
  app/app.go
  app/simulation_test.go
  app/test_app.go
  go.mod
  go.sum
  proto/rollapp/state_info.proto
  testing/dymint_test_chain_warpper.go
  testing/irc_test.go
  x/rollapp/ibc_client_hooks.go
  x/rollapp/ibc_client_hooks_test.go
  x/rollapp/types/errors.go
Labels: IRC

#124 add StatusChange event for finalization
  x/rollapp/abci.go
  x/rollapp/keeper/keeper_integration_test.go
  x/rollapp/types/events.go
Labels: C:rollapp

#126 return sequencer full information and operating status on queries
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sequencer/query.proto
  x/rollapp/types/state_info.pb.go
  x/sequencer/client/cli/query_sequencer_test.go
  x/sequencer/client/cli/query_sequencers_by_rollapp_test.go
  x/sequencer/keeper/grpc_query_sequencer.go
  x/sequencer/keeper/grpc_query_sequencer_test.go
  x/sequencer/keeper/grpc_query_sequencers_by_rollapp.go
  x/sequencer/keeper/grpc_query_sequencers_by_rollapp_test.go
  x/sequencer/keeper/keeper_integration_test.go
  x/sequencer/keeper/sequencer_test.go
  x/sequencer/keeper/sequencers_by_rollapp_test.go
  x/sequencer/types/query.pb.go
Labels: C:sequencer

#131 Liorzilp/130 query latest finalized state info
  .github/workflows/release.yml
  docs/static/openapi.yml
  proto/rollapp/genesis.proto
  proto/rollapp/query.proto
  proto/rollapp/state_info.proto
  x/rollapp/abci.go
  x/rollapp/client/cli/query.go
  x/rollapp/client/cli/query_block_height_to_finalization_queue_test.go
  x/rollapp/client/cli/query_latest_finalized_state_info.go
  x/rollapp/client/cli/query_latest_finalized_state_info_test.go
  x/rollapp/genesis.go
  x/rollapp/genesis_test.go
  x/rollapp/keeper/grpc_query_latest_finalized_state_info.go
  x/rollapp/keeper/grpc_query_latest_finalized_state_info_test.go
  x/rollapp/keeper/latest_finalized_state_index.go
  x/rollapp/keeper/latest_finalized_state_index_test.go
  x/rollapp/types/genesis.go
  x/rollapp/types/genesis.pb.go
  x/rollapp/types/key_latest_finalized_state_index.go
  x/rollapp/types/query.pb.go
  x/rollapp/types/query.pb.gw.go
  x/rollapp/types/state_info.pb.go
  x/sequencer/client/cli/query_scheduler_test.go
  x/sequencer/genesis_test.go
  x/sequencer/keeper/grpc_query_scheduler_test.go
  x/sequencer/keeper/scheduler_test.go
  x/sequencer/types/genesis_test.go
Labels: C:rollapp

#139 Fix create-sequencer command so it can receive the new ed25519 PubKey format
  x/sequencer/client/cli/tx_create_sequencer.go
Labels: bug

#143 DymintPubKey as any in proto
  app/app.go
  docs/static/openapi.yml
  go.mod
  proto/sequencer/sequencer.proto
  proto/sequencer/tx.proto
  testing/irc_test.go
  testutil/keeper/sequencer.go
  x/rollapp/keeper/keeper_integration_test.go
  x/sequencer/client/cli/tx_create_sequencer.go
  x/sequencer/keeper/keeper.go
  x/sequencer/keeper/keeper_integration_test.go
  x/sequencer/keeper/msg_server_create_sequencer.go
  x/sequencer/simulation/create_sequencer.go
  x/sequencer/types/message_create_sequencer.go
  x/sequencer/types/message_create_sequencer_test.go
  x/sequencer/types/sequencer.pb.go
  x/sequencer/types/tx.pb.go
Labels: C:sequencer

#144 Liorzilp/137 permissioned rollapp limit
  docs/static/openapi.yml
  proto/rollapp/params.proto
  x/rollapp/keeper/grpc_query_params_test.go
  x/rollapp/keeper/msg_server_create_rollapp.go
  x/rollapp/keeper/msg_server_create_rollapp_test.go
  x/rollapp/keeper/msg_server_update_state_test.go
  x/rollapp/keeper/params.go
  x/rollapp/keeper/params_test.go
  x/rollapp/keeper/rollapp_suite_test.go
  x/rollapp/types/errors.go
  x/rollapp/types/genesis_test.go
  x/rollapp/types/params.go
  x/rollapp/types/params.pb.go
Labels: C:rollapp
