Repository dymensionxyz/dymension, pull requests merged in 2024-09, with the labels that each got.

#1190 feat(sponsorship): updated the scale system for gauge weights
  proto/dymensionxyz/dymension/sponsorship/sponsorship.proto
  x/sponsorship/client/cli/tx.go
  x/sponsorship/client/cli/tx_test.go
  x/sponsorship/keeper/genesis_test.go
  x/sponsorship/keeper/hooks_test.go
  x/sponsorship/keeper/keeper_test.go
  x/sponsorship/keeper/msg_server_test.go
  x/sponsorship/keeper/votes.go
  x/sponsorship/keeper/votes_test.go
  x/sponsorship/types/constants.go
  x/sponsorship/types/genesis_test.go
  x/sponsorship/types/msgs_test.go
  x/sponsorship/types/params.go
  x/sponsorship/types/params_test.go
  x/sponsorship/types/sponsorship.pb.go
  x/sponsorship/types/types.go
  x/sponsorship/types/types_test.go
  x/streamer/keeper/distribute_test.go
Labels: dym-internal, c:sponsorship

#1199 feat(sponsorship): updated module params comment
  proto/dymensionxyz/dymension/sponsorship/sponsorship.proto
  x/sponsorship/types/sponsorship.pb.go
Labels: dym-internal

#1100 fix(streamer): added streamer pagination
  app/keepers/keepers.go
  app/keepers/modules.go
  app/upgrades/v4/upgrade.go
  app/upgrades/v4/upgrade_test.go
  proto/dymensionxyz/dymension/streamer/events.proto
  proto/dymensionxyz/dymension/streamer/genesis.proto
  proto/dymensionxyz/dymension/streamer/params.proto
  proto/dymensionxyz/dymension/streamer/stream.proto
  proto/dymensionxyz/dymension/streamer/streamer.proto
  testutil/keeper/streamer.go
  utils/pagination/paginate.go
  utils/pagination/paginate_test.go
  x/streamer/keeper/abci.go
  x/streamer/keeper/abci_test.go
  x/streamer/keeper/distr_info_test.go
  x/streamer/keeper/distribute.go
  x/streamer/keeper/distribute_test.go
  x/streamer/keeper/gauges_hooks.go
  x/streamer/keeper/genesis.go
  x/streamer/keeper/genesis_test.go
  x/streamer/keeper/grpc_query_test.go
  x/streamer/keeper/hooks.go
  x/streamer/keeper/hooks_test.go
  x/streamer/keeper/keeper.go
  x/streamer/keeper/keeper_replace_update_distribution.go
  x/streamer/keeper/keeper_terminate_stream_test.go
  x/streamer/keeper/store.go
  x/streamer/keeper/stream.go
  x/streamer/keeper/stream_iterator.go
  x/streamer/keeper/stream_iterator_test.go
  x/streamer/keeper/suite_test.go
  x/streamer/module.go
  x/streamer/types/constants.go
  x/streamer/types/events.pb.go
  x/streamer/types/expected_keepers.go
  x/streamer/types/genesis.go
  x/streamer/types/genesis.pb.go
  x/streamer/types/keys.go
  x/streamer/types/params.go
  x/streamer/types/params.pb.go
  x/streamer/types/stream.go
  x/streamer/types/stream.pb.go
  x/streamer/types/streamer.go
  x/streamer/types/streamer.pb.go
Labels: dym-internal

#1222 ci: update goreleaser, remove version from name template
  .github/workflows/new-pr-notification.yaml
  .github/workflows/release_binary.yml
  .github/workflows/stale-pr-notification.yaml
  .goreleaser.yml
Labels: dym-internal

#1227 feat(genesistransfer): open the bridge without waiting for a genesis transfer
  app/ante/handlers.go
  app/keepers/keepers.go
  ibctesting/genesis_transfer_test.go
  ibctesting/transfers_enabled_test.go
Labels: dym-internal

#1188 feat(incentives): added fees for adding to gauge and gauge creation
  app/upgrades/v3/upgrade_test.go
  app/upgrades/v4/upgrade.go
  proto/dymensionxyz/dymension/incentives/params.proto
  x/incentives/keeper/gauge.go
  x/incentives/keeper/genesis_test.go
  x/incentives/keeper/msg_server.go
  x/incentives/keeper/msg_server_test.go
  x/incentives/keeper/suite_test.go
  x/incentives/types/constants.go
  x/incentives/types/gauge.go
  x/incentives/types/genesis.go
  x/incentives/types/params.go
  x/incentives/types/params.pb.go
  x/streamer/keeper/distribute.go
  x/streamer/types/expected_keepers.go
Labels: dym-internal

#1229 feat: register rollapp amino messages to support EIP712
  x/rollapp/types/codec.go
Labels: enhancement, dym-internal

#1178 chore: code standards
  Contributing.md
  readme.md
Labels: dym-internal, Stale

#1173 feat(streamer): distribute rewards immediately in the current block
  app/keepers/keepers.go
  proto/dymensionxyz/dymension/streamer/stream.proto
  utils/cache/ordered.go
  utils/cache/ordered_test.go
  utils/pagination/paginate.go
  utils/pagination/paginate_test.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_asset.go
  x/incentives/keeper/gauge_rollapp.go
  x/incentives/keeper/gauge_rollapp_test.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/keeper/hooks.go
  x/incentives/types/types.go
  x/streamer/keeper/abci.go
  x/streamer/keeper/abci_test.go
  x/streamer/keeper/distr_info.go
  x/streamer/keeper/distr_info_test.go
  x/streamer/keeper/distribute.go
  x/streamer/keeper/distribute_test.go
  x/streamer/keeper/distributed_coins.go
  x/streamer/keeper/genesis_test.go
  x/streamer/keeper/grpc_query.go
  x/streamer/keeper/grpc_query_test.go
  x/streamer/keeper/hooks.go
  x/streamer/keeper/hooks_test.go
  x/streamer/keeper/invariants.go
  x/streamer/keeper/iterator.go
  x/streamer/keeper/keeper.go
  x/streamer/keeper/keeper_replace_update_distribution_test.go
  x/streamer/keeper/params.go
  x/streamer/keeper/stream_iterator.go
  x/streamer/keeper/stream_iterator_test.go
  x/streamer/keeper/suite_test.go
  x/streamer/keeper/utils.go
  x/streamer/keeper/utils_test.go
  x/streamer/types/distr_info.go
  x/streamer/types/distr_info_test.go
  x/streamer/types/expected_keepers.go
  x/streamer/types/stream.go
  x/streamer/types/stream.pb.go
Labels: dym-internal

#1205 feat(delayedack): made packet finalization manual
  app/keepers/modules.go
  ibctesting/bridging_fee_test.go
  ibctesting/delayed_ack_test.go
  ibctesting/eibc_test.go
  ibctesting/utils_test.go
  proto/dymensionxyz/dymension/delayedack/events.proto
  proto/dymensionxyz/dymension/delayedack/tx.proto
  testutil/keeper/delayedack.go
  x/common/types/key_rollapp_packet.go
  x/delayedack/client/cli/query.go
  x/delayedack/client/cli/tx.go
  x/delayedack/ibc_middleware.go
  x/delayedack/keeper/finalize.go
  x/delayedack/keeper/finalize_test.go
  x/delayedack/keeper/hooks.go
  x/delayedack/keeper/invariants.go
  x/delayedack/keeper/invariants_test.go
  x/delayedack/keeper/keeper_test.go
  x/delayedack/keeper/msg_server.go
  x/delayedack/keeper/msg_server_test.go
  x/delayedack/keeper/rollapp_packet.go
  x/delayedack/module.go
  x/delayedack/rollapp_hooks.go
  x/delayedack/types/codec.go
  x/delayedack/types/events.pb.go
  x/delayedack/types/expected_keepers.go
  x/delayedack/types/genesis.go
  x/delayedack/types/msgs.go
  x/delayedack/types/tx.pb.go
  x/eibc/keeper/hooks.go
  x/eibc/keeper/hooks_test.go
  x/eibc/keeper/keeper_test.go
  x/eibc/types/demand_order.go
  x/sponsorship/types/codec.go
Labels: dym-internal

#1240 feat: Register incentives and sponsorship amino message to support eip712
  scripts/incentives/lockup_bootstrap.sh
  scripts/pools/e2e.sh
  x/incentives/types/codec.go
  x/sponsorship/types/codec.go
Labels: bug, dym-internal

#1223 feat(rollapp): DRS versions
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  go.mod
  go.sum
  proto/dymensionxyz/dymension/rollapp/events.proto
  proto/dymensionxyz/dymension/rollapp/state_info.proto
  proto/dymensionxyz/dymension/rollapp/tx.proto
  testutil/keeper/dymns.go
  testutil/keeper/rollapp.go
  x/delayedack/keeper/transfer.go
  x/dymns/keeper/keeper_suite_test.go
  x/rollapp/client/proposal_handler.go
  x/rollapp/keeper/authenticate_packet.go
  x/rollapp/keeper/fraud_handler.go
  x/rollapp/keeper/genesis_transfer.go
  x/rollapp/keeper/grpc_query_latest_height.go
  x/rollapp/keeper/grpc_query_latest_state_index.go
  x/rollapp/keeper/grpc_query_params.go
  x/rollapp/keeper/grpc_query_state_info.go
  x/rollapp/keeper/grpc_query_state_info_test.go
  x/rollapp/keeper/keeper.go
  x/rollapp/keeper/latest_finalized_state_index_test.go
  x/rollapp/keeper/latest_state_info_index_test.go
  x/rollapp/keeper/liveness.go
  x/rollapp/keeper/msg_server_app.go
  x/rollapp/keeper/msg_server_mark_vulnerable_rollapps.go
  x/rollapp/keeper/msg_server_mark_vulnerable_rollapps_test.go
  x/rollapp/keeper/msg_server_update_state.go
  x/rollapp/keeper/msg_server_update_state_test.go
  x/rollapp/keeper/rollapp.go
  x/rollapp/keeper/rollapp_suite_test.go
  x/rollapp/proposal_handler.go
  x/rollapp/transfergenesis/ante_decorator.go
  x/rollapp/transfergenesis/memo_test.go
  x/rollapp/types/block_descriptor_test.go
  x/rollapp/types/events.pb.go
  x/rollapp/types/keys.go
  x/rollapp/types/message_mark_vunerable_rollapps.go
  x/rollapp/types/message_update_state.go
  x/rollapp/types/rollapp.go
  x/rollapp/types/state_info.go
  x/rollapp/types/state_info.pb.go
  x/rollapp/types/tx.pb.go
Labels: dym-internal

#1263 fix(rollapp): make genesis info nullable
  app/apptesting/test_suite.go
  ibctesting/utils_test.go
  proto/dymensionxyz/dymension/rollapp/tx.proto
  x/denommetadata/ibc_middleware.go
  x/denommetadata/ibc_middleware_test.go
  x/denommetadata/types/expected_keepers.go
  x/incentives/client/cli/query_test.go
  x/incentives/keeper/suite_test.go
  x/rollapp/client/cli/tx_create_rollapp.go
  x/rollapp/keeper/msg_server_create_rollapp_test.go
  x/rollapp/keeper/msg_server_transfer_ownership_test.go
  x/rollapp/keeper/msg_server_update_rollapp_test.go
  x/rollapp/keeper/msg_server_update_state_test.go
  x/rollapp/keeper/rollapp.go
  x/rollapp/simulation/create_rollapp.go
  x/rollapp/types/message_create_rollapp.go
  x/rollapp/types/message_create_rollapp_test.go
  x/rollapp/types/message_update_rollapp.go
  x/rollapp/types/message_update_rollapp_test.go
  x/rollapp/types/tx.pb.go
Labels: dym-internal

#1247 feat(iro): scale the bonding curve
  app/keepers/keepers.go
  ibctesting/genesis_transfer_test.go
  proto/dymensionxyz/dymension/iro/query.proto
  proto/dymensionxyz/dymension/iro/tx.proto
  x/iro/cli/query.go
  x/iro/cli/tx_trade.go
  x/iro/keeper/claim.go
  x/iro/keeper/claim_test.go
  x/iro/keeper/create_plan.go
  x/iro/keeper/create_plan_test.go
  x/iro/keeper/keeper_test.go
  x/iro/keeper/query.go
  x/iro/keeper/settle.go
  x/iro/keeper/settle_test.go
  x/iro/keeper/trade.go
  x/iro/keeper/trade_test.go
  x/iro/types/bonding_curve.go
  x/iro/types/bonding_curve_test.go
  x/iro/types/genesis_test.go
  x/iro/types/msgs.go
  x/iro/types/params.go
  x/iro/types/plan.go
  x/iro/types/query.pb.go
  x/iro/types/query.pb.gw.go
  x/iro/types/tx.pb.go
Labels: dym-internal

#1271 fix(sponsorship): missing duplicate vote validation in GenesisState
  x/sponsorship/types/genesis.go
  x/sponsorship/types/genesis_test.go
Labels: dym-internal

#1270 feat(sponsorship): fixed revoke vote CLI
  x/sponsorship/client/cli/tx.go
Labels: dym-internal

#1274 fix(mempool): changed to use no-op app mempool by default to fix evm txs signer
  cmd/dymd/cmd/root.go
Labels: dym-internal

#1273 fix(rollapp): fix validation of empty genesis info
  x/rollapp/types/message_create_rollapp_test.go
  x/rollapp/types/rollapp.go
Labels: dym-internal
