Repository dymensionxyz/dymension, pull requests merged in 2024-08, with the labels that each got.

#1038 feat(sequencer):Option to let any address be the Initial sequencer
  app/apptesting/test_suite.go
  proto/dymensionxyz/dymension/rollapp/rollapp.proto
  proto/dymensionxyz/dymension/rollapp/tx.proto
  testutil/sample/sample.go
  x/incentives/keeper/suite_test.go
  x/rollapp/client/cli/tx.go
  x/rollapp/client/cli/tx_create_rollapp.go
  x/rollapp/client/cli/tx_update_rollapp.go
  x/rollapp/keeper/msg_server_create_rollapp_test.go
  x/rollapp/keeper/msg_server_update_rollapp_test.go
  x/rollapp/keeper/msg_server_update_state_test.go
  x/rollapp/keeper/rollapp.go
  x/rollapp/simulation/create_rollapp.go
  x/rollapp/types/errors.go
  x/rollapp/types/message_create_rollapp.go
  x/rollapp/types/message_create_rollapp_test.go
  x/rollapp/types/message_update_rollapp.go
  x/rollapp/types/message_update_rollapp_test.go
  x/rollapp/types/rollapp.go
  x/rollapp/types/rollapp.pb.go
  x/rollapp/types/tx.pb.go
  x/sequencer/keeper/msg_server_create_sequencer.go
  x/sequencer/keeper/msg_server_create_sequencer_test.go
  x/sequencer/keeper/msg_server_update_sequencer_test.go
  x/sequencer/keeper/sequencer_suite_test.go
  x/sponsorship/types/sponsorship.pb.go
Labels: dym-internal

#1040 feat(rollapp): add vm type to rollapp registration
  app/apptesting/test_suite.go
  app/upgrades/v4/upgrade.go
  ibctesting/utils_test.go
  proto/dymensionxyz/dymension/rollapp/rollapp.proto
  proto/dymensionxyz/dymension/rollapp/tx.proto
  x/incentives/client/cli/query_test.go
  x/incentives/keeper/suite_test.go
  x/rollapp/client/cli/tx_create_rollapp.go
  x/rollapp/client/cli/tx_submit_fraud_proposal.go
  x/rollapp/keeper/msg_server_create_rollapp_test.go
  x/rollapp/keeper/msg_server_update_rollapp_test.go
  x/rollapp/types/errors.go
  x/rollapp/types/message_create_rollapp.go
  x/rollapp/types/message_create_rollapp_test.go
  x/rollapp/types/rollapp.go
  x/rollapp/types/rollapp.pb.go
  x/rollapp/types/tx.pb.go
Labels: dym-internal

#1043 feat(sequencer): enforce endpoints on sequencer registration
  CHANGELOG.md
  app/apptesting/test_suite.go
  app/export.go
  ibctesting/utils_test.go
  x/rollapp/keeper/msg_server_create_rollapp_test.go
  x/rollapp/keeper/msg_server_update_rollapp_test.go
  x/rollapp/keeper/msg_server_update_state_test.go
  x/rollapp/simulation/create_rollapp.go
  x/rollapp/types/message_create_rollapp_test.go
  x/rollapp/types/message_update_rollapp_test.go
  x/sequencer/keeper/msg_server_create_sequencer.go
  x/sequencer/keeper/msg_server_create_sequencer_test.go
  x/sequencer/keeper/msg_server_update_sequencer.go
  x/sequencer/keeper/msg_server_update_sequencer_test.go
  x/sequencer/keeper/sequencer_suite_test.go
  x/sequencer/types/errors.go
  x/sequencer/types/metadata.go
  x/sequencer/types/msg_create_sequencer.go
  x/sequencer/types/msg_create_sequencer_test.go
  x/sequencer/types/msg_update_sequencer.go
  x/sequencer/types/msg_update_sequencer_test.go
Labels: dym-internal

#1039 feat(rollapp): option to transfer rollapp owner
  app/upgrades/v4/upgrade.go
  app/upgrades/v4/upgrade_test.go
  proto/dymensionxyz/dymension/rollapp/rollapp.proto
  proto/dymensionxyz/dymension/rollapp/tx.proto
  x/rollapp/client/cli/tx.go
  x/rollapp/client/cli/tx_transfer_ownership.go
  x/rollapp/keeper/msg_server_create_rollapp_test.go
  x/rollapp/keeper/msg_server_transfer_ownership.go
  x/rollapp/keeper/msg_server_transfer_ownership_test.go
  x/rollapp/keeper/msg_server_update_rollapp_test.go
  x/rollapp/keeper/msg_server_update_state_test.go
  x/rollapp/keeper/rollapp.go
  x/rollapp/types/codec.go
  x/rollapp/types/errors.go
  x/rollapp/types/message_transfer_ownership.go
  x/rollapp/types/message_update_rollapp.go
  x/rollapp/types/message_update_rollapp_test.go
  x/rollapp/types/rollapp.go
  x/rollapp/types/rollapp.pb.go
  x/rollapp/types/tx.pb.go
  x/sequencer/keeper/msg_server_create_sequencer_test.go
  x/sequencer/keeper/msg_server_update_sequencer_test.go
  x/sequencer/keeper/sequencer_suite_test.go
Labels: dym-internal

#1034 feat(rollapp): remove alias from rollapp
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  app/params/encoding.go
  app/upgrades/v4/upgrade.go
  app/upgrades/v4/upgrade_test.go
  go.mod
  ibctesting/utils_test.go
  proto/dymensionxyz/dymension/rollapp/params.proto
  proto/dymensionxyz/dymension/rollapp/query.proto
  proto/dymensionxyz/dymension/rollapp/rollapp.proto
  proto/dymensionxyz/dymension/rollapp/tx.proto
  testutil/keeper/rollapp.go
  x/common/types/stub_hooks.go
  x/delayedack/ibc_middleware.go
  x/delayedack/rollapp_hooks.go
  x/delayedack/types/genesis_test.go
  x/incentives/client/cli/query_test.go
  x/incentives/keeper/suite_test.go
  x/rollapp/client/cli/flags.go
  x/rollapp/client/cli/query.go
  x/rollapp/client/cli/query_rollapp.go
  x/rollapp/client/cli/tx_update_rollapp.go
  x/rollapp/keeper/block_height_to_finalization_queue_test.go
  x/rollapp/keeper/grpc_query_get_state_info_by_height_test.go
  x/rollapp/keeper/grpc_query_params_test.go
  x/rollapp/keeper/grpc_query_rollapp.go
  x/rollapp/keeper/keeper.go
  x/rollapp/keeper/msg_server_create_rollapp.go
  x/rollapp/keeper/msg_server_create_rollapp_test.go
  x/rollapp/keeper/msg_server_update_rollapp.go
  x/rollapp/keeper/msg_server_update_rollapp_test.go
  x/rollapp/keeper/msg_server_update_state_test.go
  x/rollapp/keeper/params.go
  x/rollapp/keeper/params_test.go
  x/rollapp/keeper/rollapp.go
  x/rollapp/keeper/rollapp_suite_test.go
  x/rollapp/types/errors.go
  x/rollapp/types/expected_keepers.go
  x/rollapp/types/genesis_test.go
  x/rollapp/types/hooks.go
  x/rollapp/types/key_rollapp.go
  x/rollapp/types/message_create_rollapp.go
  x/rollapp/types/message_create_rollapp_test.go
  x/rollapp/types/message_update_rollapp.go
  x/rollapp/types/message_update_rollapp_test.go
  x/rollapp/types/params.go
  x/rollapp/types/params.pb.go
  x/rollapp/types/query.pb.go
  x/rollapp/types/query.pb.gw.go
  x/rollapp/types/rollapp.go
  x/rollapp/types/rollapp.pb.go
  x/rollapp/types/tx.pb.go
  x/sequencer/keeper/hook_listener.go
  x/sequencer/keeper/msg_server_create_sequencer.go
  x/sequencer/keeper/msg_server_create_sequencer_test.go
  x/sequencer/keeper/sequencer_suite_test.go
  x/streamer/keeper/hooks.go
Labels: dym-internal

#1009 feat(sequencer, rollapp): liveness slashing and jailing
  .gitignore
  app/keepers/keepers.go
  go.mod
  go.sum
  proto/dymensionxyz/dymension/rollapp/genesis.proto
  proto/dymensionxyz/dymension/rollapp/liveness.proto
  proto/dymensionxyz/dymension/rollapp/params.proto
  proto/dymensionxyz/dymension/rollapp/rollapp.proto
  proto/dymensionxyz/dymension/sequencer/params.proto
  testutil/keeper/rollapp.go
  x/rollapp/genesis.go
  x/rollapp/keeper/invariants.go
  x/rollapp/keeper/keeper.go
  x/rollapp/keeper/liveness.go
  x/rollapp/keeper/liveness_test.go
  x/rollapp/keeper/msg_server_update_state.go
  x/rollapp/keeper/params.go
  x/rollapp/keeper/rollapp_suite_test.go
  x/rollapp/module.go
  x/rollapp/types/expected_keepers.go
  x/rollapp/types/genesis.pb.go
  x/rollapp/types/genesis_test.go
  x/rollapp/types/liveness.go
  x/rollapp/types/liveness.pb.go
  x/rollapp/types/params.go
  x/rollapp/types/params.pb.go
  x/rollapp/types/rollapp.go
  x/rollapp/types/rollapp.pb.go
  x/sequencer/genesis_test.go
  x/sequencer/keeper/hook_listener.go
  x/sequencer/keeper/msg_server_create_sequencer_test.go
  x/sequencer/keeper/params.go
  x/sequencer/keeper/slashing.go
  x/sequencer/keeper/slashing_fraud_test.go
  x/sequencer/keeper/slashing_test.go
  x/sequencer/types/events.go
  x/sequencer/types/params.go
  x/sequencer/types/params.pb.go
Labels: dym-internal

#1031 feat(sequencer): Allow a sequencer to decrease their bond
  proto/dymensionxyz/dymension/sequencer/sequencer.proto
  proto/dymensionxyz/dymension/sequencer/tx.proto
  x/sequencer/handler.go
  x/sequencer/keeper/hooks_test.go
  x/sequencer/keeper/msg_server_decrease_bond.go
  x/sequencer/keeper/msg_server_decrease_bond_test.go
  x/sequencer/keeper/msg_server_increase_bond.go
  x/sequencer/keeper/sequencer.go
  x/sequencer/keeper/slashing.go
  x/sequencer/keeper/slashing_test.go
  x/sequencer/keeper/unbond.go
  x/sequencer/keeper/unbond_test.go
  x/sequencer/module.go
  x/sequencer/types/codec.go
  x/sequencer/types/keys.go
  x/sequencer/types/msg_create_sequencer.go
  x/sequencer/types/msg_create_sequencer_test.go
  x/sequencer/types/sequencer.pb.go
  x/sequencer/types/tx.pb.go
Labels: dym-internal

#1047 feat(incentives): send rewards to rollapp creator address
  app/keepers/keepers.go
  x/incentives/keeper/gauge_rollapp.go
  x/incentives/keeper/gauge_rollapp_test.go
  x/incentives/keeper/keeper.go
  x/incentives/keeper/suite_test.go
  x/incentives/types/expected_keepers.go
Labels: dym-internal

#1044 feat(sponsorship): added voting mechanisms and staking hooks
  app/keepers/keepers.go
  app/keepers/keys.go
  app/keepers/modules.go
  go.mod
  go.sum
  internal/collcompat/addresses.go
  internal/collcompat/addresses_test.go
  internal/collcompat/collcompat.go
  proto/dymensionxyz/dymension/sponsorship/tx.proto
  x/sponsorship/client/cli/tx.go
  x/sponsorship/client/cli/tx_test.go
  x/sponsorship/keeper/genesis.go
  x/sponsorship/keeper/genesis_test.go
  x/sponsorship/keeper/helpers.go
  x/sponsorship/keeper/hooks.go
  x/sponsorship/keeper/hooks_test.go
  x/sponsorship/keeper/keeper.go
  x/sponsorship/keeper/keeper_test.go
  x/sponsorship/keeper/msg_server.go
  x/sponsorship/keeper/msg_server_test.go
  x/sponsorship/keeper/query_server.go
  x/sponsorship/keeper/votes.go
  x/sponsorship/keeper/votes_test.go
  x/sponsorship/module.go
  x/sponsorship/types/codec.go
  x/sponsorship/types/constants.go
  x/sponsorship/types/expected_keepers.go
  x/sponsorship/types/keys.go
  x/sponsorship/types/msgs.go
  x/sponsorship/types/msgs_test.go
  x/sponsorship/types/params.go
  x/sponsorship/types/tx.pb.go
  x/sponsorship/types/types.go
  x/sponsorship/types/types_test.go
Labels: dym-internal, c:sponsorship

#1076 refactor(sequencer): Rename bond reduction fields + fix docstring
  proto/dymensionxyz/dymension/sequencer/sequencer.proto
  x/sequencer/keeper/msg_server_decrease_bond.go
  x/sequencer/keeper/msg_server_decrease_bond_test.go
  x/sequencer/keeper/sequencer.go
  x/sequencer/keeper/unbond.go
  x/sequencer/types/sequencer.pb.go
Labels: dym-internal

#1075 feat(sequencer): Implement genesis Import/Export for Bond Reductions
  proto/dymensionxyz/dymension/sequencer/genesis.proto
  x/sequencer/genesis.go
  x/sequencer/genesis_test.go
  x/sequencer/keeper/bond_reductions.go
  x/sequencer/keeper/msg_server_decrease_bond.go
  x/sequencer/keeper/sequencer.go
  x/sequencer/types/genesis.pb.go
Labels: dym-internal

#1052 fix(code standards): remove calls to suite.SetupTest
  app/ante/ante_test.go
  app/upgrades/v3/upgrade_test.go
  app/upgrades/v4/upgrade_test.go
  x/eibc/keeper/grpc_query_test.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/keeper/store_test.go
  x/rollapp/keeper/block_height_to_finalization_queue_test.go
  x/rollapp/keeper/fraud_handler_test.go
  x/rollapp/keeper/invariants_test.go
  x/rollapp/keeper/msg_server_transfer_ownership_test.go
  x/rollapp/keeper/msg_server_update_rollapp_test.go
  x/rollapp/keeper/msg_server_update_state_test.go
  x/sequencer/keeper/grpc_query_sequencers_by_rollapp_test.go
  x/sequencer/keeper/hooks_test.go
  x/sequencer/keeper/msg_server_increase_bond_test.go
  x/sequencer/keeper/msg_server_unbond_test.go
  x/sequencer/keeper/msg_server_update_sequencer_test.go
  x/sequencer/keeper/sequencer_test.go
  x/sequencer/keeper/slashing_fraud_test.go
  x/sequencer/keeper/unbond_test.go
  x/streamer/keeper/distr_info_test.go
  x/streamer/keeper/grpc_query_test.go
  x/streamer/keeper/hooks_test.go
  x/streamer/keeper/keeper_create_stream_test.go
  x/streamer/keeper/keeper_terminate_stream_test.go
  x/streamer/keeper/store_test.go
  x/vfc/hooks/denom_metadata_hooks_test.go
Labels: dym-internal

#1092 fix(rollapp): logo size now 40kib
  proto/dymensionxyz/dymension/rollapp/metadata.proto
  x/rollapp/types/rollapp.go
Labels: dym-internal

#1089 feat(rollapp): allow supplying bech32 and genesis checksum in update rather than create
  proto/dymensionxyz/dymension/rollapp/tx.proto
  x/rollapp/client/cli/flags.go
  x/rollapp/client/cli/tx_create_rollapp.go
  x/rollapp/client/cli/tx_update_rollapp.go
  x/rollapp/keeper/msg_server_create_rollapp_test.go
  x/rollapp/keeper/msg_server_update_rollapp_test.go
  x/rollapp/keeper/rollapp.go
  x/rollapp/types/errors.go
  x/rollapp/types/message_create_rollapp_test.go
  x/rollapp/types/message_update_rollapp.go
  x/rollapp/types/rollapp.go
  x/rollapp/types/tx.pb.go
  x/sequencer/keeper/sequencer_suite_test.go
Labels: dym-internal

#1087 feat(sequencers): v4 migration for proposer
  app/upgrades/v4/upgrade.go
  app/upgrades/v4/upgrade_test.go
  proto/dymensionxyz/dymension/sequencer/sequencer.proto
  x/sequencer/types/sequencer.pb.go
Labels: dym-internal

#1086 feat(sequencers): adding rotation status in the updateState response
  proto/dymensionxyz/dymension/rollapp/tx.proto
  scripts/setup_local.sh
  x/rollapp/keeper/liveness_test.go
  x/rollapp/keeper/msg_server_update_state.go
  x/rollapp/types/expected_keepers.go
  x/rollapp/types/tx.pb.go
  x/sequencer/keeper/grpc_query_sequencers_by_rollapp.go
  x/sequencer/keeper/invariants.go
  x/sequencer/keeper/msg_server_unbond_test.go
  x/sequencer/keeper/rotation.go
  x/sequencer/keeper/rotation_test.go
  x/sequencer/keeper/sequencer.go
Labels: dym-internal

#1096 fix(rollapp): queries now return full rollapp info
  proto/dymensionxyz/dymension/rollapp/metadata.proto
  proto/dymensionxyz/dymension/rollapp/query.proto
  proto/dymensionxyz/dymension/rollapp/rollapp.proto
  x/rollapp/keeper/grpc_query_rollapp.go
  x/rollapp/keeper/grpc_query_rollapp_test.go
  x/rollapp/keeper/msg_server_update_state_test.go
  x/rollapp/keeper/rollapp_suite_test.go
  x/rollapp/keeper/rollapp_test.go
  x/rollapp/types/metadata.pb.go
  x/rollapp/types/query.pb.go
  x/rollapp/types/rollapp.go
  x/rollapp/types/rollapp.pb.go
  x/rollapp/types/tx.pb.go
Labels: dym-internal

#1099 fix(rollapp): allow genesis sum and bech32 in cli create
  x/rollapp/client/cli/flags.go
  x/rollapp/client/cli/tx_create_rollapp.go
  x/rollapp/keeper/msg_server_create_rollapp_test.go
Labels: dym-internal

#1046 feat(scripts): updated scripts for local run, added sponsored stream creation
  .github/pull_request_template.md
  app/keepers/keepers.go
  readme.md
  scripts/incentives/fund_incentives.sh
  scripts/incentives/lockup_bootstrap.sh
  scripts/incentives/sponsorship_vote.sh
  scripts/pools/pools_bootstrap.sh
  scripts/setup_local.sh
  scripts/src/genesis_config_commands.sh
  x/streamer/keeper/keeper_create_stream_test.go
Labels: dym-internal, c:sponsorship

#1103 chore(setup script): exit local setup if dymd is not installed
  scripts/setup_local.sh
Labels: dym-internal

#1111 fix(sequencer): make create sequencer cli command metadata optional
  x/sequencer/client/cli/tx.go
Labels: dym-internal

#1114 chore: use SETTLEMENT_EXECUTABLE to remove overlaps
  scripts/setup_local.sh
Labels: dym-internal

#1117 revert(streamer): don't distribute abstained part of sponsored distri…
  x/streamer/types/distr_info.go
  x/streamer/types/distr_info_test.go
Labels: dym-internal, c:sponsorship

#1110 fix(sequencer): remove `rollapp_id` from `MsgUpdateSequencerInformation`
  proto/dymensionxyz/dymension/sequencer/tx.proto
  x/rollapp/keeper/msg_server_update_rollapp_test.go
  x/sequencer/client/cli/tx.go
  x/sequencer/keeper/msg_server_create_sequencer.go
  x/sequencer/keeper/msg_server_create_sequencer_test.go
  x/sequencer/keeper/msg_server_update_sequencer.go
  x/sequencer/keeper/msg_server_update_sequencer_test.go
  x/sequencer/types/errors.go
  x/sequencer/types/expected_keepers.go
  x/sequencer/types/msg_update_sequencer.go
  x/sequencer/types/tx.pb.go
Labels: dym-internal

#1123 fix(app): use the sdk-utils EmitTypeEvent function that doesn't add double quotes to string attributes
  go.mod
  go.sum
  x/eibc/keeper/handler.go
  x/eibc/keeper/keeper.go
  x/eibc/keeper/msg_server.go
  x/eibc/keeper/msg_server_test.go
  x/rollapp/keeper/msg_server_create_rollapp.go
  x/rollapp/keeper/msg_server_transfer_ownership.go
  x/rollapp/keeper/msg_server_update_rollapp.go
  x/sequencer/keeper/msg_server_increase_bond.go
  x/sequencer/keeper/msg_server_update_sequencer.go
  x/sponsorship/keeper/hooks.go
  x/sponsorship/keeper/msg_server.go
Labels: dym-internal

#1139 fix(rollapp): add explorer_url to rollapp metadata
  docs/static/openapi.yml
  proto/dymensionxyz/dymension/rollapp/metadata.proto
  x/rollapp/types/message_create_rollapp_test.go
  x/rollapp/types/metadata.pb.go
  x/rollapp/types/rollapp.go
Labels: dym-internal

#1132 fix: tests that run unwanted
  x/rollapp/keeper/liveness_test.go
  x/rollapp/keeper/rollapp_suite_test.go
Labels: dym-internal

#1136 refactor: change the coins compare in bond reduction to compare the amounts
  x/sequencer/keeper/bond_reductions.go
Labels: dym-internal

#1140 fix(rollapp): add `explorer_url` to rollapp metadata
  docs/static/openapi.yml
  proto/dymensionxyz/dymension/rollapp/metadata.proto
  x/rollapp/types/message_create_rollapp_test.go
  x/rollapp/types/metadata.pb.go
  x/rollapp/types/rollapp.go
Labels: dym-internal

#1148 fix(eibc): add `packet_type` and `is_fulfilled` to eibc events
  proto/dymensionxyz/dymension/eibc/events.proto
  x/eibc/client/cli/query_command_orders.go
  x/eibc/keeper/msg_server_test.go
  x/eibc/types/demand_order.go
  x/eibc/types/events.pb.go
Labels: dym-internal

#1146 fix(rollapp): add `fee_base_denom` and `native_base_denom` to rollapp metadata
  app/upgrades/v4/upgrade.go
  docs/static/openapi.yml
  proto/dymensionxyz/dymension/rollapp/metadata.proto
  x/rollapp/types/metadata.pb.go
Labels: dym-internal

#1098 feat: Add canonical light client for Rollapps
  app/ante/ante_options.go
  app/ante/ante_test.go
  app/ante/handlers.go
  app/app.go
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/keepers/modules.go
  app/upgrades/v4/constants.go
  app/upgrades/v4/upgrade.go
  go.mod
  ibctesting/genesis_transfer_test.go
  ibctesting/light_client_test.go
  ibctesting/utils_test.go
  proto/dymensionxyz/dymension/lightclient/genesis.proto
  proto/dymensionxyz/dymension/rollapp/block_descriptor.proto
  testutil/keeper/lightclient.go
  x/dymns/keeper/hooks.go
  x/lightclient/ante/ibc_msg_channel_open_ack.go
  x/lightclient/ante/ibc_msg_channel_open_ack_test.go
  x/lightclient/ante/ibc_msg_submit_misbehaviour.go
  x/lightclient/ante/ibc_msg_submit_misbehaviour_test.go
  x/lightclient/ante/ibc_msg_update_client.go
  x/lightclient/ante/ibc_msg_update_client_test.go
  x/lightclient/ante/ibc_msgs.go
  x/lightclient/ante/ibc_msgs_test.go
  x/lightclient/keeper/canonical_client.go
  x/lightclient/keeper/genesis.go
  x/lightclient/keeper/genesis_test.go
  x/lightclient/keeper/hook_listener.go
  x/lightclient/keeper/hook_listener_test.go
  x/lightclient/keeper/invariants.go
  x/lightclient/keeper/keeper.go
  x/lightclient/module.go
  x/lightclient/types/errors.go
  x/lightclient/types/expected_keepers.go
  x/lightclient/types/genesis.go
  x/lightclient/types/genesis.pb.go
  x/lightclient/types/genesis_test.go
  x/lightclient/types/keys.go
  x/lightclient/types/params.go
  x/lightclient/types/params_test.go
  x/lightclient/types/state.go
  x/lightclient/types/state_test.go
  x/rollapp/keeper/grpc_query_get_state_info_by_height_test.go
  x/rollapp/keeper/grpc_query_state_info.go
  x/rollapp/keeper/grpc_query_state_info_test.go
  x/rollapp/keeper/msg_server_update_state.go
  x/rollapp/keeper/msg_server_update_state_test.go
  x/rollapp/transfergenesis/ante_decorator.go
  x/rollapp/transfergenesis/ibc_module_canonical_channel_hack.go
  x/rollapp/types/block_descriptor.go
  x/rollapp/types/block_descriptor.pb.go
  x/rollapp/types/block_descriptor_test.go
  x/rollapp/types/errors.go
  x/rollapp/types/hooks.go
  x/rollapp/types/state_info.go
  x/sequencer/types/sequencer.go
Labels: dym-internal

#1144 feat(sequencer): Defining invariants around bond reductions
  app/keepers/modules.go
  x/sequencer/keeper/invariants.go
Labels: dym-internal

#1131 feat(rollapp): add apps to rollapp
  CHANGELOG.md
  app/keepers/keepers.go
  app/keepers/keys.go
  app/keepers/modules.go
  proto/dymensionxyz/dymension/rollapp/app.proto
  proto/dymensionxyz/dymension/rollapp/events.proto
  proto/dymensionxyz/dymension/rollapp/genesis.proto
  proto/dymensionxyz/dymension/rollapp/params.proto
  proto/dymensionxyz/dymension/rollapp/query.proto
  proto/dymensionxyz/dymension/rollapp/tx.proto
  testutil/keeper/dymns.go
  testutil/keeper/rollapp.go
  x/dymns/keeper/keeper_suite_test.go
  x/rollapp/client/cli/query_rollapp.go
  x/rollapp/client/cli/query_state_info.go
  x/rollapp/client/cli/tx.go
  x/rollapp/client/cli/tx_add_app.go
  x/rollapp/client/cli/tx_remove_app.go
  x/rollapp/client/cli/tx_update_app.go
  x/rollapp/genesis.go
  x/rollapp/genesis_test.go
  x/rollapp/keeper/app.go
  x/rollapp/keeper/grpc_query_rollapp.go
  x/rollapp/keeper/keeper.go
  x/rollapp/keeper/msg_server_app.go
  x/rollapp/keeper/msg_server_app_test.go
  x/rollapp/keeper/msg_server_create_rollapp_test.go
  x/rollapp/keeper/params.go
  x/rollapp/types/app.go
  x/rollapp/types/app.pb.go
  x/rollapp/types/codec.go
  x/rollapp/types/errors.go
  x/rollapp/types/events.pb.go
  x/rollapp/types/expected_keepers.go
  x/rollapp/types/genesis.go
  x/rollapp/types/genesis.pb.go
  x/rollapp/types/key_app.go
  x/rollapp/types/message_add_app.go
  x/rollapp/types/message_remove_app.go
  x/rollapp/types/message_update_app.go
  x/rollapp/types/params.go
  x/rollapp/types/params.pb.go
  x/rollapp/types/query.pb.go
  x/rollapp/types/query.pb.gw.go
  x/rollapp/types/rollapp.go
  x/rollapp/types/tx.pb.go
Labels: dym-internal

#1115 feat(sequencers): validate sequencer `unbonding_time` greater than `dispute_period`
  app/keepers/keepers.go
  app/keepers/modules.go
  app/upgrades/v4/upgrade.go
  app/upgrades/v4/upgrade_test.go
  proto/dymensionxyz/dymension/sequencer/tx.proto
  testutil/keeper/sequencer.go
  x/sequencer/keeper/keeper.go
  x/sequencer/keeper/msg_server_update_params.go
  x/sequencer/keeper/params.go
  x/sequencer/keeper/params_test.go
  x/sequencer/migrations.go
  x/sequencer/migrations_test.go
  x/sequencer/module.go
  x/sequencer/types/expected_keepers.go
  x/sequencer/types/genesis.go
  x/sequencer/types/keys.go
  x/sequencer/types/msg_bond_change.go
  x/sequencer/types/msg_create_sequencer.go
  x/sequencer/types/msg_unbond.go
  x/sequencer/types/msg_update_params.go
  x/sequencer/types/msg_update_sequencer.go
  x/sequencer/types/params.go
  x/sequencer/types/params_legacy.go
  x/sequencer/types/params_test.go
  x/sequencer/types/tx.pb.go
Labels: dym-internal, security
